<div>
    {{ elementClass.atomicNumber }}
    {{ elementClass.symbol }}
    {{ elementClass.name }}
    {{ elementClass.atomicMass }}
    {{ elementClass.atomicRadius }}
    {{ elementClass.boilingPoint }}
    {{ elementClass.bondingType }}
    {{ elementClass.cpkHexColor }}
    {{ elementClass.density }}
    {{ elementClass.electronAffinity }}
    {{ elementClass.electronegativity }}
    {{ elementClass.electronicConfiguration }}
    {{ elementClass.groupBlock }}
    {{ elementClass.ionRadius }}
    {{ elementClass.ionizationEnergy }}
    {{ elementClass.meltingPoint }}
    {{ elementClass.oxidationStates }}
    {{ elementClass.standardState }}
    {{ elementClass.vanDelWaalsRadius }}
    {{ elementClass.yearDiscovered }}
</div>