
    <tr>
        <td>{{ elementClass.atomicMass }}</td>
        <td>{{ elementClass.atomicNumber }}</td>
        <td>{{ elementClass.atomicRadius }}</td>
        <td>{{ elementClass.boilingPoint }}</td>
        <td>{{ elementClass.bondingType }}</td>
        <td>{{ elementClass.cpkHexColor }}</td>
        <td>{{ elementClass.density }}</td>
        <td>{{ elementClass.electronAffinity }}</td>
        <td>{{ elementClass.electronegativity }}</td>
        <td>{{ elementClass.electronicConfiguration }}</td>
        <td>{{ elementClass.groupBlock }}</td>
        <td>{{ elementClass.ionRadius }}</td>
        <td>{{ elementClass.ionizationEnergy }}</td>
        <td>{{ elementClass.meltingPoint }}</td>
        <td>{{ elementClass.name }}</td>
        <td>{{ elementClass.oxidationStates }}</td>
        <td>{{ elementClass.standardState }}</td>
        <td>{{ elementClass.symbol }}</td>
        <td>{{ elementClass.vanDelWaalsRadius }}</td>
        <td>{{ elementClass.yearDiscovered }}</td>
    </tr>
